body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    font-size: 24px;
    align-items: center;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}


.list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 25px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    flex: 1;
    height: 400px;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.hero-main-text {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #F9FAF8;
}

.hero-secondary-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

button {
    display: flex;
    height: 48px;
    width: 130px;
    border-radius: 12px;
    flex-wrap: wrap;
    border-color: #E5E7EB;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    border-style: none;
}

img {
    display: flex;
    height: 250px;
    width: auto;
}

.hero-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

.information-container {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}

.information-header {
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 20px;
    justify-content: center;
}

.card-container {
    display: flex;
    flex: 1;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-around;
    padding-top: 20px;
}

.card {
    display: flex;
    border-style: solid;
    width: 120px;
    height: 120px;
    border-color: #3882F6;
    border-width: 8px; 
    border-radius: 10px;  
}

